In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

#import the API key
from config import g_key

In [2]:
# store csv created in weatherpy in a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-10-17 18:54:46,22.0752,-159.3190,77.18,85,100,3.00
1,1,Port Blair,IN,2021-10-17 18:57:06,11.6667,92.7500,79.95,87,99,6.29
2,2,Bogalusa,US,2021-10-17 18:57:06,30.7910,-89.8487,75.74,33,1,6.91
3,3,Hermanus,ZA,2021-10-17 18:57:07,-34.4187,19.2345,55.90,66,45,5.68
4,4,Faya,SA,2021-10-17 18:49:01,18.3851,42.4509,69.91,24,2,6.98

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# get the maximum temperature
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp,0))

In [6]:
# heatmap of temperature
# get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# get maximum temperature
max_temp = city_data_df["Max Temp"]
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity = 300, point_radius=4)
# add the heatmap layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# heatmap of percent humidity
# heatmap of humidity
# get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# get humidity
humidity = city_data_df["Humidity"]
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity = 300, point_radius=4)
# add the heatmap layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# heatmap of cloudiness
# get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# get cloudiness
cloudiness = city_data_df["Cloudiness"]
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity = 300, point_radius=4)
# add the heatmap layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# heatmap of Wind Speed
# get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# get humidity
wind = city_data_df["Wind Speed"]
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity = 300, point_radius=4)
# add the heatmap layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

In [17]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-10-17 18:54:46,22.0752,-159.3190,77.18,85,100,3.00
1,1,Port Blair,IN,2021-10-17 18:57:06,11.6667,92.7500,79.95,87,99,6.29
2,2,Bogalusa,US,2021-10-17 18:57:06,30.7910,-89.8487,75.74,33,1,6.91
3,3,Hermanus,ZA,2021-10-17 18:57:07,-34.4187,19.2345,55.90,66,45,5.68
4,4,Faya,SA,2021-10-17 18:49:01,18.3851,42.4509,69.91,24,2,6.98
5,5,Husum,DE,2021-10-17 18:57:08,54.4858,9.0524,51.89,96,100,10.58
7,7,Vaini,TO,2021-10-17 18:57:09,-21.2000,-175.2000,73.56,94,75,8.05
8,8,Kaseda,JP,2021-10-17 18:53:54,31.4167,130.3167,62.67,63,100,7.07
9,9,Cape Town,ZA,2021-10-17 18:51:17,-33.9258,18.4232,59.09,67,20,1.99
10,10,Havre-Saint-Pierre,CA,2021-10-17 18:57:10,50.2334,-63.5986,55.99,100,90,21.85

In [18]:
# create a dataframe for hotels
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
0                Kapaa      US     77.18  22.0752 -159.3190
1           Port Blair      IN     79.95  11.6667   92.7500
2             Bogalusa      US     75.74  30.7910  -89.8487
3             Hermanus      ZA     55.90 -34.4187   19.2345
4                 Faya      SA     69.91  18.3851   42.4509
5                Husum      DE     51.89  54.4858    9.0524
7                Vaini      TO     73.56 -21.2000 -175.2000
8               Kaseda      JP     62.67  31.4167  130.3167
9            Cape Town      ZA     59.09 -33.9258   18.4232
10  Havre-Saint-Pierre      CA     55.99  50.2334  -63.5986

In [19]:
# set parameters to search for a hotel
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key
}

# iterate through the dataframe
for index, row in hotel_df.iterrows():
    # get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    # use the search term lodging and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and get the json data
    hotels = requests.get(base_url, params=params).json()
    # grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]['name']
    except (IndexError):
        print("Hotel not found. . . skipping.")

Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,77.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,Port Blair,IN,79.95,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
2,Bogalusa,US,75.74,30.7910,-89.8487,Traveler's Rest Motel
3,Hermanus,ZA,55.90,-34.4187,19.2345,Misty Waves Boutique Hotel
4,Faya,SA,69.91,18.3851,42.4509,املاك خالد الشعشوع
5,Husum,DE,51.89,54.4858,9.0524,Best Western Plus Theodor Storm Hotel
7,Vaini,TO,73.56,-21.2000,-175.2000,Keleti Beach Resort
8,Kaseda,JP,62.67,31.4167,130.3167,Sun Stay Kaseda
9,Cape Town,ZA,59.09,-33.9258,18.4232,Southern Sun Waterfront Cape Town
10,Havre-Saint-Pierre,CA,55.99,50.2334,-63.5986,Auberge Niapiskau

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))