## Deliverable 3. Create a Travel Itinerary Map.

In [63]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/alexhatheway/Desktop/DataViz/Week 6 WeatherPy/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,29,Magadan,RU,11.10,clear sky,59.5667,150.8000,Magadan hotel
1,33,Upernavik,GL,26.96,overcast clouds,72.7868,-56.1549,Gina's Guesthouse - Upernavik
2,64,Qaanaaq,GL,26.15,overcast clouds,77.4840,-69.3632,Qaanaaq Hotel
3,70,Barrow,US,10.42,few clouds,71.2906,-156.7887,King Eider Inn
4,86,Pevek,RU,9.18,overcast clouds,69.7008,170.3133,Severnoye Zoloto

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,29,Magadan,RU,11.10,clear sky,59.5667,150.8000,Magadan hotel
1,33,Upernavik,GL,26.96,overcast clouds,72.7868,-56.1549,Gina's Guesthouse - Upernavik
2,64,Qaanaaq,GL,26.15,overcast clouds,77.4840,-69.3632,Qaanaaq Hotel
3,70,Barrow,US,10.42,few clouds,71.2906,-156.7887,King Eider Inn
4,86,Pevek,RU,9.18,overcast clouds,69.7008,170.3133,Severnoye Zoloto

In [34]:
vacation_df.loc[vacation_df['City'] == 'Pevek']

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
4,86,Pevek,RU,9.18,overcast clouds,69.7008,170.3133,Severnoye Zoloto

In [68]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Smolenka']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Smolenka']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Zabaykalsk']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Nerchinskiy Zavod']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Tupik']

In [74]:
start = vacation_start[['Lat', 'Lng']].to_numpy()[0]
start

array([ 52.1352, 113.4974])

In [76]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat', 'Lng']].to_numpy()[0]
end = vacation_end[['Lat', 'Lng']].to_numpy()[0]
stop1 = vacation_stop1[['Lat', 'Lng']].to_numpy()[0]
stop2 = vacation_stop2[['Lat', 'Lng']].to_numpy()[0]
stop3 = vacation_stop3[['Lat', 'Lng']].to_numpy()[0]

In [82]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travel_route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,145,Smolenka,RU,17.67,few clouds,52.1352,113.4974,Russkaya Usadba v Zarechye
1,600,Zabaykalsk,RU,24.51,clear sky,49.6333,117.3167,Zheleznyy Mir
2,316,Nerchinskiy Zavod,RU,12.51,few clouds,51.3088,119.6100,Tat'yana
3,230,Tupik,RU,19.72,overcast clouds,54.4253,119.9327,Guest House Orkhideya
4,145,Smolenka,RU,17.67,few clouds,52.1352,113.4974,Russkaya Usadba v Zarechye

In [84]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [90]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(start), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))